/* #region debug */
.debug .top {
    background-color: palegoldenrod;
}

.debug .bottom {
    background-color: aquamarine;
}

.debug .sidebar {
    background-color: black;
}

.debug .top_heder {
    background-color: rgba(152, 251, 152, 0.496);
}

.debug .content_header {
    background-color: aquamarine;
}

.debug .content_body {
    background-color: palegreen;
}

.debug .img_artist {
    aspect-ratio: 1;
    background-color: aquamarine;
}

.debug .text_artist {
    height: 50px;
    background-color: palevioletred;
}

.debug [class^="col_"] {
    background-color: rgb(139, 89, 187);
}

.col_4 {
    background-color: green;
}

/* #endregion debug */

/* #region utility */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --upgrade-: #080b12;
    --white-: #ffffff;
    --sidebar-: #000000;
    --grey-: #141922;
    --grey_text: #7c7e83;
    --gray_footer: #282828;
    --green-:#adff2f;

}

body {
    font-family: 'Circular Std', sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.d-flex {
    display: flex;
}

a {
    text-decoration: none;
}

.column {
    flex-direction: column;
}

img {
    max-width: 100%;
}

.hidden {
    display: none;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.white {
    color: var(--white-);
}

.grey {
    color: var(--grey_text);
}

.grey:hover {
    color: var(--white-);
}

/* #endregion utility */



/* #region top */
.top {
    height: calc(100vh - 100px);
}

.sidebar {
    padding: 0.3rem;
    background-color: var(--sidebar-);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.sidebar_bottom .box{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.logo {
    margin-bottom: 1rem
}

.side_menu {
    justify-content: space-between;
}

.home,
.search,
.librery,
.Profile,
.download {
    justify-content: center;
    margin-bottom: 1rem;
    align-items: center;
}

.home img,
.search img,
.librery img,
.Profile img,
.download img {
    width: 80%;
}

.Profile,
.download {
    margin: 0.8rem 0;
    color: var(--grey_text);
}

.Profile img {
    background-color: #7c7e83;
    border-radius: 50%;
}

.m_bottom hr {
    border: 0.5px solid var(--grey_text);
}



.content {
    width: calc(100% - 50px);
}

.content_header {
    height: 70px;
    background-color: var(--upgrade-);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.btn_upgrade a {
    background-color: var(--upgrade-);
    border-radius: 2rem;
    color: var(--white-);
    border: 1px solid var(--white-);
    padding: 0.5rem 2rem;
    text-decoration: none;
}
.btn_upgrade {
    align-items: center;
    margin-right: 2rem;
    transition: 0.5s linear;
}
.btn_upgrade:hover{
    font-size: 1.5rem;
}
.content_body {
    height: calc(100% - 70px);
    overflow-y: auto;
    background-color: var(--grey-);
}

.container {
    width: 95%;
    margin: auto;
}

.menu_content ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--grey_text);
}

.menu_content li {
    padding: 0.5rem;
    font-size: 0.8rem;
    color: ;
}

.popolar h2,
.recently h2,
.creat h2 {
    color: var(--white-);
    padding: 1.5rem 0;
}

.recently span,
.creat span,
.popolar span {
    color: var(--grey_text);
}

.col_xs_6 {
    width: calc(100% / 12 * 6);
}

.songs .row {
    margin: 1.5rem -0.5rem;
}

.text_artist span {
    padding: 1rem;
}

.m_top a {
    margin-left: 1rem;
    text-decoration: none;
}

.card {
    margin: 0.5rem;
}

.song.card {
    align-items: center;
}

.song span {
    display: block;
    text-align: center;
    color: var(--white-);
}

.song h5 {
    color: var(--grey_text);
    text-align: center;
}

.popolar .img_artist {
    border-radius: 50%;
    overflow: hidden;
}

.fa-plus {
    filter: invert(1);
    background-color: var(--grey_text);
    margin-right: 0.5rem;
    padding: 0.3rem;
}

.plus {
    display: flex;
    align-items: center;
}

.playlist {
    margin-top: 1rem;
    flex-direction: column;
    display: none;
    color: var(--white-);
    overflow: hidden;
    flex-grow: 1;
}

.p_body {
    color: var(--grey_text);
    overflow-y: auto;
}

.p_body ul {
    list-style: none;
}

.p_body ul li {
    margin-top: 1rem;
}


/* #region sidebar */

.sidebar {
    width: 50px;
    height: 100%;
}

/* #endregion sidebar */


/* #region footer */
.bottom {
    height: 100px;
    background-color: var(--gray_footer);
    font-size: 0.8rem!important;

}

.bottom .row {
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 100%;
    align-items: center;
}

.col_4 {
    width: calc(100% / 12 * 4);
}

.box_song {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}
.play {
    color: var(--white-);
}
.settings {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
    justify-content: end;
    position: relative;

}

.box_song img {
    width: 70px;
    padding: 1rem;
}

.info_song span {
    display: block;
    padding-right: 1rem;
}
.icon_play{
    display: flex;
    justify-content: space-around;
}


.settings .fa-solid {
    margin-right: 0.5rem;
}
.box_settings {
    display: flex;
    justify-content: end;
}
.box_play {
    height: 100%;
    align-items: baseline;
    max-width: 300px;
    display: flex;
}

.box_play .fa-solid {
    display: flex;
    justify-content: space-around;
    align-content: baseline;
    color: var(--white-);
    margin: 0.5rem 0.5rem 0.5rem 0.7rem;
}

.bplay {
    border: 4px solid white;
    border-radius: 50%;
}
.fa-play{
    transition: 0.5s linear;
}
.bplay:hover .fa-play{
    font-size: 1.5rem;
}

.time {
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.brake {
    border: 1px solid var(--grey_text);
    width: 60%;
    height: 1px;
}

.bar_vol {
    border: 1px solid var(--grey_text);
    width: 30%;
    height: 1px;
}
.bar_vol_hover {
    width: 30%;
    border: 1px solid var(--green-);
    position:absolute;
    top: 0;
    left: 0;
}


@media screen and (min-width:552px) {
    .sidebar {
        width: 200px;
        height: 100%;
        padding: 1rem;
    }

    .content {
        width: calc(100% - 200px);
    }

    .col_x_6 {
        width: calc(100% / 12 * 6);
    }

    .logo_smoll {
        display: none;
    }

    .hidden {
        display: flex;
    }

    .home,
    .search,
    .librery,
    .Profile,
    .download {
        justify-content: start;
    }

    .side_menu img {
        width: 20%;
    }


    .download {
        font-size: 0.7rem;
    }

    .download img,
    .Profile img {
        width: 15% !important;
        margin-right: 1rem;
    }
}

@media screen and (min-width:780px) {
    .sidebar {
        width: 220px;
        height: 100%;
        padding: 1rem;
    }

    .content {
        width: calc(100% - 220px);
    }

    .col_md_3 {
        width: calc(100% / 12 * 3);
    }

    .download {
        font-size: 0.7rem;
    }

    .download img,
    .Profile img {
        width: 15% !important;
        margin-right: 1rem;
    }
}

@media screen and (min-width:1280px) {
    .sidebar {
        width: 220px;
        height: 100%;
        padding: 1rem;
    }

    .content {
        width: calc(100% - 220px);
    }

    .col_lg_2 {
        width: calc(100% / 12 * 2);
    }

    .download {
        font-size: 0.7rem;
    }

    .download img,
    .Profile img {
        width: 15% !important;
        margin-right: 1rem;
    }
}



.underline_green {
    display: inline-block;
    position: relative;
}

.underline_green:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--green-);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.underline_green:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.home:hover.home{
    border-left: 2px solid var(--green-);
}
.search:hover.search{
    border-left: 2px solid var(--green-);
}
.librery:hover.librery{
    border-left: 2px solid var(--green-);
}